{% extends 'accounts/base.html' %}

{% block title %}Login to view board{% endblock %}

{% block content %}
    <div class="header">
        <h1>Log in to Trello</h1>
        <p><a href="{% url 'signup' %}">or signup to your account</a></p>
        </div>
        <div class="signfields">
    <form method="POST" novalidate> {% csrf_token %}
        {% for fields in  form %}
            <p>{{ fields.label }}</p>
            <p>{{ fields }}</p>
            <p>{{ fields.errors }}</p>
        {% endfor %}
        <button type="submit">login to trello</button>
    </form>
        <a href="{% url 'password_reset' %}">forgot password</a>
{% endblock %}