
{% block content %}
    <div class="detail">
      <h3>Created Boards</h3>
        <ul>
            {% for boardz in boards %}
                <li><a class="boardlist"
                href="{% url 'board' board_id=boardz.pk %}">{{boardz.title}}</a></li>
                {% empty %}
                <p class="noboard">No boards yet, create boards </p>   
            {% endfor %}
        </ul>
        <h3 class="noboard">Invited boards:</h3>
        <ul>
          
          

            {% for invited in board %}
              
              {% if request.user != invited.board.owner %}
                  {% ifchanged invited.board %}
                    <li><a class="invitedboardlist"
                    href="{% url 'board' board_id=invited.board.id %}">{{invited.board}}</a><a class="leave-board" href="{% url 'leave_board' board_id=invited.board.id %}">leave</a></li>
                  {% endifchanged %}
              {% endif %} 

              
                {% empty %}
                <p class="noboard">No invited boards</p>
              

            {% endfor %} 
            
          
            
         
      </ul>

    </div>


    <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="board-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
{% endblock %}