{% extends 'trelloapp/trellobase.html' %}
{% block title %}Trello-Dashboard{% endblock %}
{% block board %}<!-- <a class="navbar-brand" href="{% url 'detail' pk=board.pk %}">{{board.title}}</a> -->{% endblock %}

{% block boardAjax %}
<button type="button"
id = "boardbutton"
class="btn btn-primary-board"
data-remote="{% url 'detail' board.id %}"
data-target="#board-modal"
data-toggle="modal"
data-title = "{{board.title}}"
>{{board.title}}
</button>
{% endblock %}

{% block boardCreate %}
<button type="button"
id = "boardcreate"
class="btn btn-primary-board" 
data-remote="{% url 'createboard' %}" 
data-toggle="modal" 
data-target="#board-modal"
>Create Board</button>
{% endblock %}

{% block invite %}
<button type="button"
id = "invite-member"
class="btn btn-primary-board" 
data-remote="{% url 'invitememberform' board_id=board.pk %}" 
data-toggle="modal" 
data-target="#board-modal"
>Invite member</button>
{% endblock %}

{% block content %}
<button type="button"
id = "boardedit"
class="btn btn-primary-board" 
data-remote="{% url 'editboard' board_id=board.pk %}" 
data-toggle="modal" 
data-target="#board-modal"
>Edit Board</button>



    <div>
        <form method="POST" id="list-form" action="{% url 'list_views' pk=board.id %}" novalidate>{% csrf_token %}
            {% for field in form %}
            <label>Create New List {{ field.label }} {{ field }}</label>
            <p class="error-list-create"></p>
            {% endfor %}
            <button type="submit">Save</button>
        </form>
    </div>

    <div class="list-container" data-url="{% url 'listviews' pk=board.id %}">
      
    </div>




    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Activity log</h5>
          <small></small>
        </div>
        <p class="mb-1"></p>
        
      </a>



      <a href="#" id="logContainer" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
                          <ul>
                           {% for activity in dragged %}
                              <li class="actlog">{{activity.user}} 
                                  {{activity.activity_type}} 
                                  {{activity.content_type}} 
                                  {{activity.content_object}}
                                  <small class="text-muted">{{activity.date}}</small>
                              </li>
                              
                           {% endfor %}
                          </ul>
          </h5>
          
        </div>

        


      </a>



      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">In progress</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">In progress.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
      </a>
    </div>




    <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="board-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
      

{% endblock %}